.jumbotron h2 {
  text-decoration: underline;
  color:#9A89D9;
  text-align: center;
}
p {
  color: #9A89D9;
}
.jumbotron p {
  font-size: 15px;
  color: #6872A6;
  text-align: center;
}

.jumbotron {
  background-color: rgb(28, 26, 38, 0.7);
}

body {
  background-image: url("../img/Planet\ Steam.png");
  background-repeat: no-repeat;
}

h4 {
  color: #9A89D9;
}
