.jumbotron h2 {
  text-decoration: underline;
  color:#9A89D9;
  text-align: center;
}
p {
  color: #9A89D9;
}
.jumbotron p {
  font-size: 15px;
  color: #6872A6;
  text-align: center;
}

.jumbotron {
  background-color: rgb(28, 26, 38, 0.7);
}

body {
  background-image: url("../img/Planet\ Steam.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h4 {
  color: #9A89D9;
}

.first2images {
float: left;
} 

.intro-images {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.intro-images img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 20%;
  max-height: auto;
}

#middleimage {
  margin-left: 15%;
  margin-right: 5%;
}

.resultimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 20%;
    max-height: auto;
}

.results h2 {
  text-align: center;
  color: #9A89D9
}

.javascript{
  display: none;
}

.csharp {
  display: none;
}

.python {
  display: none;
}

